

@font-face {
	font-family: Lato;
	src: url('Lato-Thin.ttf');
}

.head {
	font-family: Lato;
	COLOR: #000000;
	font-size: 20px;
	letter-spacing: 10px; 
}



.big-text {
	font-family: Lato;
	COLOR: #000000;
	font-size: 90px;
	letter-spacing: 14px;
}


.p1 {
	font-family: Lato;
	COLOR: #000000;
	font-size: 20px; 
}



.small_text {
	font-family: Lato;
	COLOR: #000000;
	font-size: 12px; 
	letter-spacing: 5px;
}


.number {
	font-family: Lato;
	COLOR: #000000;
	font-size: 16px;
	letter-spacing: 4px;
}
.number_bold {
	font-family: Lato;
	COLOR: #000000;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 7px;
}

A:link {
	font-family: Lato;
	COLOR: #000000;
	font-size: 20px;
	TEXT-DECORATION: none
}

