@font-face{
src: url('Lato-Thin.ttf');
font-family: 'Lato-Thin.ttf';
font-family: 'Lato-Semibold.ttf';

}

A:link {
	font-family: Lato;
	COLOR: #FFFFFF;
	font-size: 20px;
	TEXT-DECORATION: none
}

A:hover 
{
	font-family: Lato-Semibold;
	COLOR: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	TEXT-DECORATION: none
}
.visited {
	font-family: Lato;
	color: #FFFFFF;
	font-size: 20px;
	TEXT-DECORATION: none
}

.big-text {
	font-family: Lato;
	COLOR: #ffffff;
	font-size: 90px;
	letter-spacing: 17px;
}


.text {
	font-family: Lato;
	COLOR: #ffffff;
	font-size: 20px; 
}


.text2 {
	font-family: Lato;
	COLOR: #ffffff;
	font-size: 20px;
	letter-spacing: 10px; 
}


.boldtext {
	font-family: Lato-Semibold;
	COLOR: #ffffff;
	font-size: 20px;
}

.number {
	font-family: Lato-Semibold;
	COLOR: #ffffff;
	font-size: 16px;
	letter-spacing: 4px;
}
.number_bold {
	font-family: Lato-Semibold;
	COLOR: #ffffff;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 7px;
}

