

@font-face {
	font-family: Lato;
	src: url('Lato-Thin.ttf');
}

.head {
	font-family: Lato;
	COLOR: #ffffff;
	font-size: 20px;
	letter-spacing: 10px; 
}

.h1 {
	font-family: Lato;
	COLOR: #ffffff;
	font-size: 90px;
	letter-spacing: 10px;
}

.h2 {
	font-family: Lato;
	COLOR: #ffffff;
	font-size: 30px;
	font-weight: bold;
	line-height: 150%;
}



.p1 {
	font-family: Lato;
	COLOR: #ffffff;
	font-size: 23px;
	
}

.small_text {
	font-family: Lato;
	COLOR: #ffffff;
	font-size: 12px; 
	letter-spacing: 5px;
}


.number {
	font-family: Lato;
	COLOR: #ffffff;
	font-size: 16px;
	letter-spacing: 4px;
}
.number_bold {
	font-family: Lato;
	COLOR: #ffffff;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 7px;
}

A:link {
	font-family: Lato;
	COLOR: #FFFFFF;
	font-size: 20px;
	
	TEXT-DECORATION: none
}

A:hover 
{
	font-family: Lato;
	COLOR: #FFFFFF;
	font-size: 20px;

}
.visited {
	font-family: Lato;
	color: #FFFFFF;
	font-size: 20px;
	TEXT-DECORATION: none
}