@font-face{

font-family: 'Lato-Thin.ttf';
font-family: 'Lato-Semibold.ttf';

}

.big-text {
	font-family: Lato, Arial, Helvetica, sans-serif;
	COLOR: #ffffff;
	font-size: 90px;
	letter-spacing: 17px;
}


.text {
	font-family: Lato, Arial, Helvetica, sans-serif;
	COLOR: #ffffff;
	font-size: 20px; 
}


.text2 {
	font-family: Lato, Arial, Helvetica, sans-serif;
	COLOR: #ffffff;
	font-size: 20px;
	letter-spacing: 10px; 
}


.boldtext {
	font-family: Lato-Semibold, Arial, Helvetica, sans-serif;
	COLOR: #ffffff;
	font-size: 20px;
}

.number {
	font-family: Lato-Semibold, Arial, Helvetica, sans-serif;
	COLOR: #ffffff;
	font-size: 16px;
	letter-spacing: 4px;
}
.number_bold {
	font-family: Lato-Semibold, Arial, Helvetica, sans-serif;
	COLOR: #ffffff;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 7px;
}